
<div class="container">
  <h1 class="{{favorites.colors}}" "{{favorites.good_evil}}">CSS Garden of Good and Evil</h1>
  <div class="row">
          <h2>Inputs<h2>
    <div class="col-xs-4">


      <div class="btn-group">
        <form action='/good_evil' method="POST">
          <input type="submit" action='/good_evil' method="POST" name="good_evil" value = "Good" class="btn btn-default"></input>
        <input type="submit" action='/good_evil' method="POST" name="good_evil" value = "Evil" class="btn btn-default"></input>
      </form>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="input-group">
        <form action='/good_evil' method="POST">
          <input type ="text" placeholder="Favorite food" class="form-control" name="food" value={{food}}>
          <input type= "submit" class="btn btn-default">
        </form>
      </div>
    </div>
    <div class="col-xs-4">
      <form action="/good_evil" method="POST">
        <select name="colors">
          <option value="green">Green</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="orange">Orange</option>
        </select>
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="col-xs-4">
      <form action="/good_evil" method="POST">
      <div id="slidecontainer">
      <input type="range" name="slider"min="1" max="100" value="50" class="slider" id="myRange">
      <input type="submit" value="Submit">
      </div>
      </form>
    </div>
    <h2> Biography </h2>
    <ul>
      <li>Good or Evil: {{favorites.good_evil}}</li>
      <li>Favorite Food: {{favorites.food}}</li>
      <li>Favorite Color: {{favorites.colors}}</li>
      <li>Percentage: {{favorites.slider}}</li>
    </ul>


    {{#if (gt favorites.slider 50) }}
     <img src="./insanity.jpg">
   {{/if}}

   {{#if (lt favorites.slider 50) }}
    <img src="./baby.jpg">
  {{/if}}

  </div>

  {{#each getMessages as |messages key| }}
    {{#each messages as |message| }}
      <div class="alert alert-{{ bootstrapAlertClassFor key }} alert-dismissible text-center" role="alert" style="border-radius: 0;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {{/each }}
  {{/each }}



</div>
